 .Heading {
	text-align: center;
}

#play-button {
	margin-top: 50px;
	margin-left: 635px;
}

#control-button{
	margin-left: 670px;
	margin-top: 50px;
}


body {
	background-image: url(forest.png)
}
}

#playerarea{
	background-color: blue;
	height: 200px;
	width: 200px;
}

#monster2{
	background-color: green;
	width: 200px;
	height: 200px;
	float: left;
	margin-top: 19px;
}

#result{
	background-color:red;
	width: 200px;
	height: 200px;
}
