.Heading {
	text-align: center;
}

#play-button {
	margin-top: 50px;
	margin-left: 625px;
}

#control-button{
	margin-left: 625px;
	margin-top: 50px;
}

<<<<<<< HEAD
body {
=======
body{

>>>>>>> origin/master
	background-color: purple;

}

#Player{
	
}