 .Heading {
	text-align: center;
}

#play-button {
	margin-top: 50px;
	margin-left: 635px;
}

#control-button{
	margin-left: 670px;
	margin-top: 50px;
}


body {
	background-color: purple;
}

#playerarea{
	background-color: blue;
	height: 450px;
	width: 50px;
	
}

#monster2{
	background-color: salmon
	width: 450px;
	height: 450px;
	
}

#monsterspawn{
	background-color: red;
	height: 450px;
	width: 10px;
	
}